.horizontal-navigation {
  width: 100%;
  overflow-x: hidden;
  .inner-navigation {
    display: flex;
    width: max-content;
    > nav {
      margin: 0 20px;
    }
    > nav:first-child,
    > nav:last-child {
      margin: 0;
    }
  }
}
