.fixed-navigation {
  position: sticky;
  background: #fff;
  width: 100%;
  top: 0;
  .navigation {
    overflow-x: hidden;
    transition: 0.3s;
    white-space: nowrap;
    > nav {
      display: inline-block;
      margin-right: 20px;
      font-weight: bold;
      color: #888;
      cursor: pointer;
    }
    > nav:last-child {
      margin: 0;
    }
  }
}
