* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Noto Sans";
  color: #000000;
}

body {
  // scrollbar-width: none;
  img {
    max-width: 100%;
  }
}
// body::-webkit-scrollbar {
//   width: 0;
//   overflow: hidden;
// }
